In [1]:
import pandas as pd
import numpy as np
import re

In [16]:
df = pd.read_excel('GooglePlaystore.xlsx')
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,2018-01-07 00:00:00,1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,2018-01-15 00:00:00,2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,2018-08-01 00:00:00,1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,2018-06-08 00:00:00,Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,2018-06-20 00:00:00,1.1,4.4 and up

#### PART 1: PREPROCESSING

In [17]:
# Delete row where 'Reviews' == 3.0M
df = df[df['Reviews'] != '3.0M']

# Delete rows where any column == 'Varies with device'
df = df[~df.isin(['Varies with device']).any(axis=1)]

# Strip trailing non-numeric characters from Android version
def clean_ver(ver):
    match = re.search('\d+\.\d+', str(ver))
    if match:
        return float(match.group())
    return np.nan

df['Android Ver'] = df['Android Ver'].apply(clean_ver)

# Convert installs to int and drop other rows
def clean_installs(installs):
    ret = re.sub('[,\+]', '', installs)
    try:
        ret = int(ret)
    except ValueError as ex:
        ret = np.nan
    return ret

df['Installs'] = df['Installs'].apply(clean_installs)
df = df[df['Installs'] != np.nan]

# Fill missing ratings and drop unrated unpopular apps
df = df[((df['Installs'] >= 50000) | (df['Reviews'] >= 100)) | ~df['Rating'].isna()]
df['Rating'] = df['Rating'].fillna(round(df['Rating'].mean(), 2))

# Turn size into int
def clean_size(size):
    match = re.search("(?P<num>\d*\.?\d+)(?P<exp>\w)", size)
    if (match):
        mdict = match.groupdict()
        xdict = {'M' : 6, 'K' : 3}
        num = float(mdict['num'])
        exp = xdict[mdict['exp'].upper()]
        return num * (10 ** exp)
    return size

df['Size'] = df['Size'].apply(clean_size)

# Other dtype conversion
df[['Reviews', 'Price']] = df[['Reviews', 'Price']].apply(pd.to_numeric)

df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000000.0,10000,Free,0.0,Everyone,Art & Design,2018-01-07 00:00:00,1.0.0,4.0
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000000.0,500000,Free,0.0,Everyone,Art & Design;Pretend Play,2018-01-15 00:00:00,2.0.0,4.0
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8700000.0,5000000,Free,0.0,Everyone,Art & Design,2018-08-01 00:00:00,1.2.4,4.0
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2800000.0,100000,Free,0.0,Everyone,Art & Design;Creativity,2018-06-20 00:00:00,1.1,4.4
5,Paper flowers instructions,ART_AND_DESIGN,4.4,167,5600000.0,50000,Free,0.0,Everyone,Art & Design,2017-03-26 00:00:00,1,2.3

#### PART 2: ANALYSIS

In [4]:
# Ratings data by category
stats = pd.DataFrame()
for category in df['Category'].unique():
    row = dict({'category' : category}, **df[df['Category'] == category]['Rating'].describe().to_dict())
    if (stats.empty):
        stats = pd.DataFrame(row, index=[0])
    else:
        stats = stats.append(row, ignore_index=True)
stats

,category,count,mean,std,min,25%,50%,75%,max
0,ART_AND_DESIGN,59.0,4.355424,0.366146,3.2,4.100,4.40,4.700,5.0
1,AUTO_AND_VEHICLES,62.0,4.146774,0.569935,2.1,3.900,4.25,4.500,4.9
2,BEAUTY,40.0,4.282750,0.357656,3.1,4.075,4.30,4.525,4.9
3,BOOKS_AND_REFERENCE,147.0,4.317075,0.453584,2.7,4.100,4.40,4.600,5.0
4,BUSINESS,246.0,4.119390,0.662594,1.0,3.825,4.30,4.500,5.0
5,COMICS,49.0,4.154490,0.550368,2.8,3.800,4.40,4.600,5.0
6,COMMUNICATION,210.0,4.101286,0.502646,1.0,3.900,4.20,4.400,5.0
7,DATING,174.0,3.959023,0.664399,1.0,3.600,4.10,4.400,5.0
8,EDUCATION,110.0,4.390636,0.255279,3.5,4.225,4.40,4.600,4.9
9,ENTERTAINMENT,86.0,4.145349,0.291308,3.0,4.000,4.20,4.300,4.7
10,EVENTS,36.0,4.465833,0.343797,3.7,4.275,4.50,4.725,5.0
11,FINANCE,263.0,4.114068,0.683553,1.0,3.900,4.30,4.500,5.0
12,FOOD_AND_DRINK,86.0,4.099302,0.573634,1.7,3.800,4.20,4.500,5.0
13,HEALTH_AND_FITNESS,220.0,4.215455,0.696722,1.4,4.000,4.50,4.600,5.0
14,HOUSE_AND_HOME,58.0,4.162759,0.376301,2.8,4.000,4.20,4.475,4.8
15,LIBRARIES_AND_DEMO,68.0,4.200294,0.350381,3.1,4.000,4.20,4.400,5.0
16,LIFESTYLE,280.0,4.093714,0.714641,1.5,3.800,4.20,4.600,5.0
17,GAME,956.0,4.268483,0.378433,1.0,4.100,4.30,4.500,5.0
18,FAMILY,1611.0,4.189559,0.514460,1.0,4.000,4.30,4.500,5.0
19,MEDICAL,321.0,4.180374,0.676356,1.0,3.900,4.30,4.600,5.0
20,SOCIAL,170.0,4.257059,0.484289,1.9,4.100,4.30,4.600,5.0
21,SHOPPING,178.0,4.226404,0.439606,1.6,4.100,4.30,4.500,5.0
22,PHOTOGRAPHY,234.0,4.145726,0.512675,2.0,4.000,4.30,4.500,5.0
23,SPORTS,248.0,4.204718,0.466772,1.5,4.000,4.30,4.500,5.0
24,TRAVEL_AND_LOCAL,155.0,4.029677,0.556680,2.2,3.700,4.20,4.400,5.0
25,TOOLS,633.0,4.011122,0.638295,1.0,3.800,4.20,4.400,5.0
26,PERSONALIZATION,277.0,4.322022,0.368190,2.5,4.100,4.40,4.600,5.0
27,PRODUCTIVITY,232.0,4.140819,0.581528,1.0,4.000,4.20,4.500,5.0
28,PARENTING,48.0,4.332917,0.400149,3.1,4.100,4.40,4.625,5.0
29,WEATHER,49.0,4.242857,0.349404,3.3,4.000,4.30,4.500,4.8
30,VIDEO_PLAYERS,114.0,4.030439,0.593872,1.8,3.725,4.20,4.400,4.9
31,NEWS_AND_MAGAZINES,171.0,4.142164,0.586870,1.7,3.950,4.30,4.500,5.0
32,MAPS_AND_NAVIGATION,94.0,4.004255,0.556663,1.9,3.700,4.20,4.400,4.9

In [19]:
# Statistics on free apps
free_df = df[df['Type'] == 'Free']

def top3(df, column):
    return df.nlargest(3, column)

In [25]:
# Top 3 free apps by rating
top3(free_df, 'Rating')[['App', 'Category', 'Rating']]

                               App Category  Rating
329   Hojiboy Tojiboyev Life Hacks   COMICS     5.0
612  American Girls Mobile Numbers   DATING     5.0
615                   Awake Dating   DATING     5.0

In [26]:
# Top 3 free apps by installs
top3(free_df, 'Installs')[['App', 'Category', 'Installs']]

                 App Category    Installs
1654  Subway Surfers     GAME  1000000000
1700  Subway Surfers     GAME  1000000000
1750  Subway Surfers     GAME  1000000000

In [27]:
# Top 3 free apps by most reviews
top3(free_df, 'Reviews')[['App', 'Category', 'Reviews']]

                 App Category   Reviews
1879  Clash of Clans     GAME  44893888
1670  Clash of Clans     GAME  44891723
1704  Clash of Clans     GAME  44891723

In [28]:
# Statistics on paid apps
paid_df = df[df['Type'] == 'Paid']
paid_df['Price'].describe()[['mean', 'min', 'max']]

mean     15.139164
min       0.990000
max     400.000000
Name: Price, dtype: float64